package components

templ Home(name string) {
    <html>
        <head>
            <title>Welcome</title>
        </head>
        <body>
            <h1>Hello, { name }!</h1>
        </body>
    </html>
}

